body{
	background-color: D7D9E0;
	margin-left: 20%;
	margin-top: 10%;
	margin-right: 20%;
	margin-bottom: 10%;

}

h1{
	font-family: fantasy;
	text-decoration-color: 68D1E8;
}

h2 {
	font-family: fantasy;
	text-decoration-color: 68D1E8;
}