body{
	background-color: #DDE7ED;
	margin-left: 3%;
	margin-top: 3%;
	margin-bottom: 10%;
	font-family: Palatino Linotype;
	text-decoration-color: 68D1E8;

}

h1{
	font-family: Palatino Linotype;
}

h2 {
	font-family: Palatino Linotype;
}


h4 {
	font-family: Palatino Linotype;
}

img{
	opacity: .4;
	float: right;
	margin-left: 3%;
	margin-right: 0;
	margin-top: 0;
}

img:hover{
	opacity: 1.0;
}
